@font-face {
  font-family: 'pressStart';
  src: url('fonts/PressStart2P-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: pressStart;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.head {
  background-color: rgb(0, 255, 42) !important
}

.body {
  background-color: rgb(28, 194, 55)
}

.fruit {
  background-color: rgb(255, 0, 0)
}